# ETL Pipeline (v1.0)

This is a pipeline that uses a CSV file provided by data.gov.sg, an open-source pool of data for our applications. This project focuses on foundational concepts in python like jupyter, pandas and data wrangling of 3 layers:

1. **Raw Layer**: Unprocessed data, fresh from extraction as fast as possible to-be transformed.

2. **Standardized Layer**: Minor processing applied here (data cleaning and formatting) for ease of transformation later.

3. **Enriched layer**: Addition of derived metrics, removal of unneeded ones, grouping of data, etc.

***

## Initialization

Import required modules

In [2]:
from dotenv import load_dotenv
import os, logging
import pandas as pd
import sqlalchemy

Set up display and logging settings

In [6]:
# Setting up logging
logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')

# Configuring panda display
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 10)
pd.set_option("display.width", 50)
pd.set_option("display.precision", 2)


Load required environment variables and initialise the connection

In [9]:
# Database connection
load_dotenv()
server="localhost"
pwd = os.getenv("DB_PASSWORD")
uid = os.getenv("DB_USER")

# Create connection string
conn_string = f"postgresql://{uid}:{pwd}@{server}:5432/graduate_employment_survey"
engine = sqlalchemy.create_engine(url=conn_string, pool_pre_ping=True)

Try connecting to the database, otherwise throw an error

In [11]:
try:
    conn = engine.connect()
except sqlalchemy.exc.SQLAlchemyError as e:
    logging.error("Database connection failed: %s", e)
    raise

***

## Extraction

Here we read from a CSV file to extract us a raw dataframe

In [14]:
# Extract data from csv file
def extract(file_path) -> pd.DataFrame:
    try:
        df = pd.read_csv(file_path)
        logging.info("Data extracted successfully from %s", file_path)
        return df
    except FileNotFoundError as e:
        logging.error("File not found: %s", e)
        raise
    except pd.errors.ParserError as e:
        logging.error("Error parsing CSV file: %s", e)
        raise

file_path = "GraduateEmploymentSurveyNTUNUSSITSMUSUSSSUTD.csv"
df = extract(file_path)
print(df)

2024-08-11 18:36:12,401 - INFO - Data extracted successfully from GraduateEmploymentSurveyNTUNUSSITSMUSUSSSUTD.csv

      year                         university  \
0     2013   Nanyang Technological University
1     2013   Nanyang Technological University
2     2013   Nanyang Technological University
3     2013   Nanyang Technological University
4     2013   Nanyang Technological University
...    ...                                ...
1257  2022  Singapore Institute of Technology
1258  2022  Singapore Institute of Technology
1259  2022  Singapore Institute of Technology
1260  2022  Singapore Institute of Technology
1261  2022  Singapore Institute of Technology

                                             school  \
0     College of Business (Nanyang Business School)
1     College of Business (Nanyang Business School)
2     College of Business (Nanyang Business School)
3     College of Business (Nanyang Business School)
4                            College of Engineering
...                                             ...
1257                      SIT-University of Glasgow
1258                 Technische Universit채t M체nchen
1259                 Technische Universit채t M체nchen
1260              The Culinary Institute of America
1261                        University of Liverpool

                                                 degree  \
0                              Accountancy and Business
1           Accountancy (3-yr direct Honours Programme)
2              Business (3-yr direct Honours Programme)
3                                Business and Computing
4                                 Aerospace Engineering
...                                                 ...
1257        Bachelor of Science with Honours in Nursing
1258        Bachelor of Science in Chemical Engineering
1259  Bachelor of Science in Electrical Engineering ...
1260  Bachelor of Business Administration in Food Bu...
1261  Bachelor of Arts with Honours in Criminology a...

     employment_rate_overall  \
0                       97.4
1                       97.1
2                       90.9
3                       87.5
4                       95.3
...                      ...
1257                    98.6
1258                    94.1
1259                      95
1260                    89.5
1261                    90.5

     employment_rate_ft_perm basic_monthly_mean  \
0                       96.1               3701
1                       95.7               2850
2                       85.7               3053
3                       87.5               3557
4                       95.3               3494
...                      ...                ...
1257                    88.4        3511.114754
1258                    85.3        3704.482759
1259                      85             4522.2
1260                    78.9               2609
1261                    85.7        4277.888889

     basic_monthly_median gross_monthly_mean  \
0                    3200               3727
1                    2700               2938
2                    3000               3214
3                    3400               3615
4                    3500               3536
...                   ...                ...
1257                 3458        3796.516393
1258                 3600        4002.482759
1259                 4200        4605.533333
1260                 2450               2969
1261                 4050        4533.247222

     gross_monthly_median  \
0                    3350
1                    2700
2                    3000
3                    3400
4                    3500
...                   ...
1257                 3800
1258                 3950
1259                 4280
1260                 3050
1261             4560.835

     gross_mthly_25_percentile  \
0                         2900
1                         2700
2                         2700
3                         3000
4                         3100
...                        ...
1257                      3500
1258                      3600
1259                      4000
1260                      2300
1261                      4000

     gross_mthly_75_percentile
0                         4000
1                         2900
2                         3500
3                         4100
4                         3816
...                        ...
1257                      4100
1258                      4300
1259                      4800
1260                      3500
1261                      5293

[1262 rows x 12 columns]

## Transformation

From here we perform 2 kinds of transformation on deep copies of dataframes: standardization to clean the raw frame and then enrich it with metrics

In [ ]:
def standardize(df: pd.DataFrame) -> pd.DataFrame:
  
    # Keep numeric columns for metadata manipulation
    cols = df.columns.drop(['year', 'university', 'school', 'degree'])
    df[cols] = df[cols].apply(pd.to_numeric, errors="coerce")

    # Drop degree column for further calculations
    df = df.drop(columns=["degree"])
    
    # Clean the data by removing rows with missing values and rounding to 2 decimal places
    results = df.dropna(axis=0, how="any").round(2)

    logging.info("Data standardized successfully")
    
    return results

df_cleaned = standardize(df.copy(deep=True))
print(df_cleaned)

This round we perform a simple kind of enrichment where we form groups based on the year, university then school and calculate the mean for each of their numerics rounded to 2 decimal places. Then we add a last updated timestamp too

In [15]:
def enrich(df: pd.DataFrame) -> pd.DataFrame:
    
    # Group the data by university, school and year, and
    # calculate the mean of each group, then add suffix "_mean"
    results = df.groupby(["year", "university", "school"]).mean(numeric_only=True).add_suffix("_mean").reset_index().round(2)
    results["last_updated"] = pd.Timestamp.now()

    logging.info("Data enriched successfully")
    
    return results

df_enriched = enrich(df_cleaned.copy(deep=True))
print(df_enriched)

2024-08-11 18:41:03,373 - INFO - Data enriched successfully

     year  \
0    2013
1    2013
2    2013
3    2013
4    2013
..    ...
340  2022
341  2022
342  2022
343  2022
344  2022

                                        university  \
0                 Nanyang Technological University
1                 Nanyang Technological University
2                 Nanyang Technological University
3                 Nanyang Technological University
4                 Nanyang Technological University
..                                             ...
340                Singapore Management University
341                Singapore Management University
342        Singapore University of Social Sciences
343        Singapore University of Social Sciences
344  Singapore University of Technology and Design

                                             school  \
0     College of Business (Nanyang Business School)
1                            College of Engineering
2     College of Humanities, Arts & Social Sciences
3                               College of Sciences
4             National Institute of Education (NIE)
..                                              ...
340              School of Law (4-year programme) *
341  School of Social Sciences (4-year programme) *
342          S R Nathan School of Human Development
343                              School of Business
344                                              na

     employment_rate_overall_mean  \
0                           93.22
1                           89.29
2                           84.51
3                           80.68
4                          100.00
..                            ...
340                         93.25
341                         92.85
342                         91.27
343                         94.44
344                         91.55

     employment_rate_ft_perm_mean  \
0                           91.25
1                           85.93
2                           72.65
3                           72.90
4                          100.00
..                            ...
340                         91.75
341                         85.95
342                         78.43
343                         86.58
344                         87.50

     basic_monthly_mean_mean  \
0                    3290.25
1                    3157.92
2                    2900.00
3                    3002.50
4                    3395.00
..                       ...
340                  6144.50
341                  4213.50
342                  3456.00
343                  3890.00
344                  4753.75

     basic_monthly_median_mean  \
0                      3075.00
1                      3054.17
2                      2853.75
3                      2950.00
4                      3413.00
..                         ...
340                    6169.00
341                    3925.50
342                    3421.67
343                    3820.00
344                    4437.50

     gross_monthly_mean_mean  \
0                    3373.50
1                    3242.00
2                    2964.12
3                    3070.50
4                    3492.00
..                       ...
340                  6325.00
341                  4420.50
342                  3532.67
343                  4037.40
344                  4878.50

     gross_monthly_median_mean  \
0                      3112.50
1                      3135.42
2                      2915.62
3                      3034.50
4                      3498.00
..                         ...
340                    6387.50
341                    4158.00
342                    3476.00
343                    3872.00
344                    4497.50

     gross_mthly_25_percentile_mean  \
0                           2825.00
1                           2966.08
2                           2653.12
3                           2758.33
4                           3350.00
..                              ...
340                         5750.00
341                         3647.50
342                         3250.00
343                         3564.00
344                         4100.00

     gross_mthly_75_percentile_mean  \
0                           3625.00
1                           3475.08
2                           3247.25
3                           3325.00
4                           3687.50
..                              ...
340                         6900.00
341                         4750.00
342                         3659.33
343                         4382.60
344                         5350.00

                  last_updated
0   2024-08-11 18:41:03.371133
1   2024-08-11 18:41:03.371133
2   2024-08-11 18:41:03.371133
3   2024-08-11 18:41:03.371133
4   2024-08-11 18:41:03.371133
..                         ...
340 2024-08-11 18:41:03.371133
341 2024-08-11 18:41:03.371133
342 2024-08-11 18:41:03.371133
343 2024-08-11 18:41:03.371133
344 2024-08-11 18:41:03.371133

[345 rows x 12 columns]

Then we load all 3 layers into a local postgres database

In [16]:
# Load data to a postgres database in 3 layers: raw, standardised, enriched
def load(layer, df: pd.DataFrame):
    table_name = f"{layer}_layer"
    try:
        df.to_sql(table_name, engine, if_exists="replace", index=False)
        logging.info("Data loaded to layer: %s", layer)
    except sqlalchemy.exc.SQLAlchemyError as e:
        logging.error("Failed to load data to %s: %s", layer, e)
        raise

load("raw", df)
load("standardized", df_cleaned)
load("enriched", df_enriched)

2024-08-11 18:41:03,754 - INFO - Data loaded to layer: raw
2024-08-11 18:41:03,969 - INFO - Data loaded to layer: standardized
2024-08-11 18:41:04,056 - INFO - Data loaded to layer: enriched